<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="_fragments/pageforms_fragment :: head (~{:: title})">
  <meta charset="UTF-8">
  <title>Agregar Cliente | Base de datos Ferretería</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  </style>
</head>
<body>
<div th:replace="_fragments/pageforms_fragment :: forms_structure"></div>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 mb-3">
      <div th:if="${param.error}">
        <div class="alert alert-danger">Hubo un problema a la hora de procesar la solicitud</div>
      </div>

      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Agregar Nuevo Cliente</h3>
        </div>
        <div class="card-body">
          <h5 class="text-start text-decoration-underline">Datos del Cliente</h5>

          <br/>
          <form method="post" th:action="@{/insert_client}" th:object="${customer}"
                class="form-horizontal" role="form">
            <div class="form-floating mb-3">
              <input type="number" id="cedula" name="cedula" th:field="*{cedula}"
                     class="form-control" placeholder="Cédula"/>
              <label for="cedula" class="control-label">Cédula cliente </label>
            </div>

            <div class="input-group mb-3">
              <div class="form-floating ">
                <input type="text" id="client_name" name="client_name" th:field="*{name}"
                       class="form-control" placeholder="Nombre"/>
                <label for="client_name" class="control-label">Nombre </label>
              </div>
              <div class="form-floating">
                <input type="text" id="client_lastname" name="client_lastname" th:field="*{lastName}"
                       class="form-control" placeholder="Apellidos"/>
                <label for="client_lastname" class="control-label">Apellidos </label>
              </div>
            </div>

            <div class="form-floating mb-3">
              <input type="number" id="phonenumber" name="phonenumber" th:field="*{phoneNumber}"
                     class="form-control" placeholder="Número celular"/>
              <label for="phonenumber" class="control-label">Número celular</label>
            </div>

            <div class="form-floating mb-3">
              <input type="email" id="email" name="email" th:field="*{email}"
                     class="form-control" placeholder="Correo electrónico"/>
              <label for="email" class="control-label">Correo electrónico</label>
            </div>

            <div class="row g-3 mb-3">
              <div class="form-floating col-12">
                <input type="text" id="client_address" th:field="*{addressOne}"
                       name="client_address" class="form-control" placeholder="Dirección 1">
                <label for="client_address" class="form-label">Dirección 1</label>
              </div>

              <div class="form-floating col-12">
                <input type="text" id="client_address_2" th:field="*{addressTwo}"
                       name="client_address_2" class="form-control" placeholder="Dirección 2">
                <label for="client_address_2" class="form-label">Dirección 2</label>
              </div>

              <div class="form-floating col-md-6">
                <input type="text" id="client_city" th:field="*{city}"
                       name="client_city" class="form-control" placeholder="Cantón">
                <label for="client_city" class="form-label">Cantón</label>
              </div>

              <div class="col-md-4">
                <select id="client_province" class="form-select mt-sm-2" th:field="*{province}">
                  <option value="0" selected>Provincia...</option>
                  <option value="1">San José</option>
                  <option value="2">Alajuela</option>
                  <option value="3">Cartago</option>
                  <option value="4">Heredia</option>
                  <option value="5">Guanacaste</option>
                  <option value="6">Puntarenas</option>
                  <option value="7">Limón</option>
                </select>
                <label for="client_province" hidden="hidden"></label>
              </div>

              <div class="form-floating col-3">
                <input type="number" id="client_zipcode" th:field="*{zipcode}"
                       name="client_zipcode" class="form-control" placeholder="Código Postal">
                <label for="client_zipcode" class="form-label">Código Postal</label>
              </div>
            </div>

            <div class="mb-3">
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>