<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Agregar Puesto | Base de datos Ferretería</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  </style>
</head>
<body>
<div th:replace="_fragments/pageforms_fragment :: forms_structure"></div>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 mb-3">
      <div th:if="${param.error}">
        <div class="alert alert-danger">Hubo un problema a la hora de procesar la solicitud</div>
      </div>
      <div th:if="${param.success}">
        <div class="alert alert-info">El puesto ha sido agregado a la base de datos</div>
      </div>

      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Agregar Nuevo Puesto</h3>
        </div>
        <div class="card-body">
          <h5 class="text-start text-decoration-underline">Datos del Puesto</h5>

          <br/>
          <form method="post" th:action="@{/insert/insert_job/save}" th:object="${job}"
                class="form-horizontal" role="form">
            <div class="form-floating mb-3">
              <input type="text" id="job_name" name="job_name" th:field="*{name}"
                     class="form-control" placeholder="Nombre puesto"/>
              <label for="job_name" class="control-label">Nombre puesto </label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" id="job_description" th:field="*{jobDescription}"
                     name="job_description" class="form-control" placeholder="Descripción puesto"/>
              <label for="job_description" class="control-label">Descripción del puesto </label>
            </div>

            <div class="mb-3">
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>